@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

$primary-color: lightgray;

body {
  background: white;
}

.btn {
  background-color: $primary-color;
  color: white;
}

.container {
  margin: 3em auto;
  border-radius: 1em;
  max-width: 400px;
  background: white;
  border: 3px solid $primary-color;
  padding: 0.5em 2em;
}

h1 {
  color: #222; }

.panel {
  background: $primary-color;
  text-align:center;
  padding-top: 1em;
  min-width: 100px;
  min-height: 100px;
  width: 100%;
}

.heading {
  text-align: center;
  margin: 0 auto;
}

.content {
  margin-top: 2em;
}

.move {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}