doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title TicTacToe Max
    link(rel="stylesheet" href="css/main.css")

  body
  .container
    .row.heading
      .col-xs-12
      h1 Tic Tac Toe
      button.btn#newGame New Game
    .row.content
      .col-xs-4
        p.panel(id='0') 
      .col-xs-4
        p.panel(id='1') 
      .col-xs-4
        p.panel(id='2') 
      .col-xs-4
        p.panel(id='3') 
      .col-xs-4
        p.panel(id='4') 
      .col-xs-4
        p.panel(id='5') 
      .col-xs-4
        p.panel(id='6') 
      .col-xs-4
        p.panel(id='7') 
      .col-xs-4
        p.panel(id='8') 


  // build:js js/vendor.min.js
  // bower:js
  // endbower
  // endbuild
  // build:js js/main.min.js
  script(src="/scripts/index.js")
  // endbuild