doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title TicTacToe Max
    link(rel="stylesheet" href="css/main.css")

  body
  .container
    .row
      h1 Tic Tac Toe 
      .col-xs-4.panel(data-attr='0')
        p 0
      .col-xs-4.panel(data-attr='1')
        p 1
      .col-xs-4.panel(data-attr='2')
        p 2
      .col-xs-4.panel(data-attr='3')
        p 3
      .col-xs-4.panel(data-attr='4')
        p 4
      .col-xs-4.panel(data-attr='5')
        p 5
      .col-xs-4.panel(data-attr='6')
        p 6
      .col-xs-4.panel(data-attr='7')
        p 7
      .col-xs-4.panel(data-attr='8')
        p 8


  // build:js js/vendor.min.js
  // bower:js
  // endbower
  // endbuild

  // build:js js/main.min.js
  script(src="/scripts/common.js")
  script(src="/scripts/index.js")
  script(src="/scripts/contact.js")
  // endbuild