doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title TicTacToe Max
    link(rel="stylesheet" href="css/main.css")

  body
  .container
    .row.heading
      .col-xs-12
      h1 Tic Tac Toe
      button.btn#newGame New Game
    .row.content
      .col-xs-4(id='0')
        p.panel 0
      .col-xs-4(id='1')
        p.panel 1
      .col-xs-4(id='2')
        p.panel 2
      .col-xs-4(d='3')
        p.panel 3
      .col-xs-4(id='4')
        p.panel 4
      .col-xs-4(id='5')
        p.panel 5
      .col-xs-4(id='6')
        p.panel 6
      .col-xs-4(id='7')
        p.panel 7
      .col-xs-4(id='8')
        p.panel 8


  // build:js js/vendor.min.js
  // bower:js
  // endbower
  // endbuild
  // build:js js/main.min.js
  script(src="/scripts/common.js")
  script(src="/scripts/index.js")
  script(src="/scripts/contact.js")
  // endbuild